{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block body %}
<br>

<div class="container">
    <div class="screen">
        <div class="screen__content">
            <!-- Début du formulaire -->
            {{ form_start(registrationForm, { 'method': 'POST', 'attr': {'class': 'login'} }) }}
            
            <h1 class="h3 mb-3 font-weight-normal">Please Register</h1>

            {{ form_errors(registrationForm) }}

            <div class="login__field">
                <i class="login__icon fas fa-user"></i>
                {{ form_row(registrationForm.email, {
                    'attr': { 
                        'class': 'login__input',
                        'placeholder': 'User name / Email'
                    }
                }) }}
            </div>

            <div class="login__field">
                <i class="login__icon fas fa-lock"></i>
                {{ form_row(registrationForm.plainPassword, {
                    'attr': { 
                        'class': 'login__input',
                        'placeholder': 'Password'
                    }
                }) }}
            </div>

            <div class="login__field">
                <i class="login__icon fas fa-check"></i>
                {{ form_row(registrationForm.roles, {
                    'attr': { 'class': 'login__input' },
                    'label': false
                }) }}
            </div>


            <div class="login__field">
                <i class="login__icon fas fa-check"></i>
                {{ form_row(registrationForm.agreeTerms, {
                    'attr': { 'class': 'login__input' }
                }) }}
            </div>

            <button class="button login__submit" type="submit">
                <span class="button__text">Register</span>
                <i class="button__icon fas fa-chevron-right"></i>
            </button>

            <!-- Fin du formulaire -->
            {{ form_end(registrationForm) }}
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
</div>
{% endblock %}
