{% extends 'base.html.twig' %}

{% block title %}Location index{% endblock %}

{% block body %}
    <br>
<br>
<br>
   
    <h1 class="table-title">location index</h1>

    <a href="{{ path('app_location_new') }}" class="add-link">Ajouter location</a>


    <div class="table-container">
            <table class="styled-table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>DateD</th>
                    <th>DateA</th>
                    <th>Prix</th>
                    <th>Client</th>
                    <th>Voiture</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for location in locations %}
                <tr>
                    <td>{{ location.id }}</td>
                    <td>{{ location.dateD ? location.dateD|date('Y-m-d') : '' }}</td>
                    <td>{{ location.dateA ? location.dateA|date('Y-m-d') : '' }}</td>
                    <td>{{ location.prix }}</td>
                    <td>{{ location.client.nom }}</td>
                    <td>{{ location.voiture.serie }}</td>
                    <td>
                        <a href="{{ path('app_location_show', {'id': location.id}) }}" class="action-link">show</a>
                        <a href="{{ path('app_location_edit', {'id': location.id}) }}" class="action-link">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
